<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>laptops</title>
	<link rel="stylesheet" href="template_styles.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="heading clearfix">
				<div class="logo">
					<a href="index.html"><img src ="images/logo.png" alt="laptops" />
					</a>
				</div>
				<div class="menu">
					<nav>
						<ul class="mmenu">
							<li>
								<a href="#">Ноутбуки Dell</a>
							</li>
							<li>
								<a href="#">Ноутбуки Lenovo</a>
							</li>
							<li>
								<a href="#">Ноутбуки Apple</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="container">

	</div>
	
	<footer>
		<div class="container">
			<div class="footer-middle">
				<p>
					&#169 Все права защищены
				</p>
			</div>
		</div>
	
	</footer>
</body>
</html>